[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/neeharika625
[access "refs/for/refs/*"]
	read = group user/neeharika625
	push = group user/neeharika625
	label-Code-Review = -2..+2 group user/neeharika625
	label-Verified = -1..+1 group user/neeharika625
	rebase = group user/neeharika625
	removeReviewer = group user/neeharika625
	submit = group user/neeharika625
[access "refs/heads/*"]
	read = group user/neeharika625
	create = group user/neeharika625
	push = +force group user/neeharika625
	pushMerge = group user/neeharika625
[access "refs/tags/*"]
	push = +force group user/neeharika625
	pushTag = group user/neeharika625
	pushSignedTag = group user/neeharika625
